body {
  margin: 0;
  font-family: 'Open Sans'; }

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #111; }
  .container #canvasContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; }
    .container #canvasContainer canvas {
      height: 70vh; }
  .container .rightContainer, .container .leftContainer {
    height: 100vh;
    width: 100%; }
  .container .leftContainer {
    display: flex;
    justify-content: center;
    align-items: center; }
    .container .leftContainer .connectionContainer {
      height: 170px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .container .leftContainer .connectionContainer .nameInput {
        width: 150px;
        height: 40px;
        background-color: #222;
        color: #999;
        font-size: 20px;
        text-align: center;
        border: none;
        box-sizing: border-box; }
        .container .leftContainer .connectionContainer .nameInput:focus {
          outline: none;
          border: #555 1px solid; }
      .container .leftContainer .connectionContainer .joinButton {
        width: 100px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #222;
        cursor: pointer; }
        .container .leftContainer .connectionContainer .joinButton:hover {
          background-color: #333; }
        .container .leftContainer .connectionContainer .joinButton p {
          font-size: 20px;
          color: #999;
          user-select: none; }
  .container .rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .container .rightContainer .leaderBoard {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 45vh;
      width: 100%;
      text-align: center;
      overflow: scroll;
      user-select: none; }
      .container .rightContainer .leaderBoard h2 {
        margin: 20px 0 0 0;
        color: #999; }
      .container .rightContainer .leaderBoard h5 {
        margin: 0 0 20px 0;
        color: #555; }
      .container .rightContainer .leaderBoard .leaderBoardList {
        width: 75%; }
        .container .rightContainer .leaderBoard .leaderBoardList .leaderBoardPlayer {
          display: flex;
          justify-content: space-between;
          margin: 2vh;
          color: #999; }
    .container .rightContainer .chat {
      height: 45vh;
      width: 100%; }
